.App {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
}
#drum-machine{
  padding: 50px;
  border: 4px solid saddlebrown;
  border-radius: 8px;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.drum-pad {
  border: 3px solid purple;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ffffff;
  transition: all .3s ease-in-out;
  margin-left: 10px;
  margin-bottom: 10px;
  background: radial-gradient(#fc9300 5%, #a88600 60%);
}
.drum-pad:active {
  filter: brightness(180%) ;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 20px;
  width: 50%;
  margin-left: 20%;
  background: #a9a9a974;
  font-size: large;
  font-weight: bold;
  color: #fc7600;
  border-radius: 4px;
}
